@model Planet.Web.Models.Shopping.ShoppingCartViewModel
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <nav class="woocommerce-breadcrumb"><a href="/">Trang chủ</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Giỏ hàng</nav>
}

@section scripts {
    <script src="~/Assets/client/js/controller/shoppingCartController.js"></script>
}


@if (Model.CartQuantity == 0)
{
    <header class="entry-header"><h2 itemprop="name" class="entry-title">Giỏ hàng trống</h2></header><!-- .entry-header -->
    <img class="center-block" src="/Assets/client/images/empty_cart.png" />

    <a class="checkout-button button alt wc-forward" href="/">Tiếp tục mua hàng</a>
}
else
{
    <article class="page type-page status-publish hentry">
        <header class="entry-header"><h2 itemprop="name" class="entry-title">Giỏ hàng</h2></header><!-- .entry-header -->

        <table class="shop_table shop_table_responsive cart">
            <thead>
                <tr>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-thumbnail">&nbsp;</th>
                    <th class="product-name">Sản phẩm</th>
                    <th class="product-price">Giá</th>
                    <th class="product-quantity">Số lượng</th>
                    <th class="product-subtotal">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                <tr class="cart_item" id="row-@item.ProductId">
                    <td class="product-remove js-remove-cart-item" data-id="@item.ProductId">
                        <a class="remove" href="javascript:void(0)">×</a>
                    </td>
                    <td class="product-thumbnail">
                        <a href="single-product.html"><img width="180" height="180" src="@item.Product.ThumbnailImage" alt="@item.Product.Name"></a>
                    </td>
                    <td data-title="Product" class="product-name">
                        <a href="single-product.html">@item.Product.Name</a>
                    </td>

                    <td data-title="Price" class="product-price">
                        <span class="amount">@item.Product.UnitPrice.ToString("N0") đ</span>
                    </td>

                    <td data-title="Quantity" class="product-quantity">
                        <div class="quantity buttons_added">
                            <input type="button" class="plus js-increase-quantity" value="+" data-id="@item.ProductId">
                            <label>Số lượng:</label>
                            <input type="number" size="4" id="cart-quantity-@item.ProductId" class="input-text qty text js-change-quantity" value="@item.Quantity" data-id="@item.ProductId" title="Qty" max="29" min="0" step="1">
                            <input type="button" class="minus js-decrease-quantity" value="-" data-id="@item.ProductId">
                        </div>
                    </td>

                    <td data-title="Thành tiền" class="product-subtotal">
                        <span class="amount" data-id="@item.ProductId" id="item-amount-@item.ProductId">@((item.Quantity * item.Product.UnitPrice).ToString("N0")) đ</span>
                    </td>
                </tr>
                }

                <tr>
                    <td class="actions" colspan="6">
                        <div class="coupon">
                            <label for="coupon_code">Mã giảm giá:</label> <input type="text" placeholder="Mã giảm giá" value="" id="coupon_code" class="input-text" name="coupon_code"> <input type="submit" value="Áp dụng mã" name="apply_coupon" class="button">
                        </div>
                        <button class="button js-remove-all-cart">Xoá toàn bộ giỏ hàng</button>
                        <div class="wc-proceed-to-checkout">
                            <a class="checkout-button button alt wc-forward" href="@Url.Action("AddressAndPayment", "Checkout")">Tiến hành thanh toán</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart-collaterals">
            <div class="cart_totals ">
                <h2>Cart Totals</h2>
                <table class="shop_table shop_table_responsive">
                    <tbody>
                        <tr class="cart-subtotal">
                            <th>Subtotal</th>
                            <td data-title="Subtotal"><span class="amount cart-total">@Model.CartTotal.ToString("N0") đ</span></td>
                        </tr>

                        <tr class="order-total">
                            <th>Total</th>
                            <td data-title="Total"><strong><span class="amount cart-total">@Model.CartTotal.ToString("N0") đ</span></strong> </td>
                        </tr>
                    </tbody>
                </table>
                <div class="wc-proceed-to-checkout">
                    <a class="checkout-button button alt wc-forward" href="@Url.Action("AddressAndPayment", "Checkout")">Tiến hành thanh toán</a>
                </div>
            </div>
        </div>
    </article>

}

